<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.superhex.persistence.mybatisimpl.mappers.JugadorMapper">
    <resultMap id="JugadorResult" type="edu.eci.superhex.model.Jugador">
        <id property="nombre" column="nombre"/>
    </resultMap>

    <select id="consultarJugadores" parameterType="map" resultMap="UsuarioResult">
        select
        nombre as id
        FROM jugador;
    </select>
</mapper>