<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.superhex.persistence.mybatisimpl.mappers.PartidaMapper">
    <resultMap id="PartidaResult" type="edu.eci.superhex.model.Partida">
        <id property="id" column="id"/>
        <result property="etapa" column="etapa"/>
        <result property="fechaInicio" column="fecha_ini"/>
        <result property="fechaFin" column="fecha_fin"/>
        <association property="usuario" javaType="edu.eci.superhex.model.Jugador" resultMap="edu.eci.superhex.persistence.mybatisimpl.mappers.JugadorMapper.JugadorResult" columnPrefix="j_"/>
    </resultMap>

    <select id="consultarPartidas" parameterType="map" resultMap="PartidaResultq">
        select
        p.id,
        p.etapa,
        p.fechaInicio,
        p.fechaFin,
        p.ganador,
        j.nombre as j_nombre
		from
        partida as p left join jugador as j on j.nombre = p.ganador
    </select>
</mapper>