<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="edu.eci.superhex.model.Partida" alias="Partida"/>
        <typeAlias type="edu.eci.superhex.model.Jugador" alias="Jugador"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-18-215-99-63.compute-1.amazonaws.com:5432/d2euu9s7dvfanp?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory" />
                <property name="username" value="wgwxdbfexidjqr" />
                <property name="password" value="e7a72ca617beb9cc8125942562d6c8a622c147bdbe2b059eb261cf1c0e8f444e" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/PartidaMapper.xml"></mapper>
        <mapper resource="mappers/JugadorMapper.xml"></mapper>
    </mappers>
</configuration>