.my-custom-scrollbar {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.load-dots > div{
    width: 10px;
    height: 10px;
    background-color: #9053c7;
    border-radius: 50%;
    display:inline-block;
    animation: 1.5s bounce1 infinite ease-in-out both;
    padding-bottom: 5px;
}

.load-dots .bounce1{
    animation-delay: -0.30s;
}
.load-dots .bounce2{
    animation-delay: -0.15s;
}
@keyframes bounce1 {
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}